@media (max-width: 767px) {
  .article-page-title {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2em;
  }
  .code-toolbar {
    transform: translateX(-20px);
    width: calc(100% + 40px);
  }
}
@media (min-width: 768px) {
  .article-page-title {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2em;
  }
}
.article-page-title > * {
  margin-bottom: 0;
}
.article-page-title > p > * {
  text-transform: none !important;
}
.article-wrapper__big-image-as-container__brief > * {
  line-height: 1.5em;
  margin: 0;
}

.card-title {
  margin-top: 10px;
}

/* NEW 2020.12 */
.description-markdown img {
  transition: max-width 0.3s;
  margin: 0 auto;
  display: block;

  border-radius: 4px;
}
.description-markdown img.small {
  max-width: 350px;
}
.description-markdown img.large {
  max-width: 100%;
}
