/* SEARCH TEXT */
#searchPanel {
  position: relative;
  font-family: Montserrat;
  /* margin: 10px 0 30px 0; */
}
.searchPanel-wrapper {
  margin: 20px 0 40px 0;
}
@media (max-width: 767px) {
  .searchPanel-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;
  }
}
#searchPanel > input#searchText {
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  outline: none;
  width: 100%;
  padding: 10px 45px 10px 45px;
  border: 2px solid lightgray;
  border-radius: 24px;
  background-color: inherit;
  color: #0162c8;
  caret-color: #0162c8;
  font-family: inherit;
  font-size: inherit;
  transition: border-color 0.3s linear, max-width 0.3s linear;
}
#searchPanel > input#searchText::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(66, 104, 178, 0.5);
}
#searchPanel > input#searchText::-moz-placeholder {
  /* Firefox 19+ */
  color: #4267b2;
}
#searchPanel > input#searchText:-ms-input-placeholder {
  /* IE 10+ */
  color: #4267b2;
}
#searchPanel > input#searchText:-moz-placeholder {
  /* Firefox 18- */
  color: #4267b2;
}
/*
@media (max-width: 767px) {
  #searchPanel > input#searchText {
    border-radius: 0;
  }
}
*/
#searchPanel > input#searchText:focus {
  border: 2px solid #0162c8;
}
/* SEARCHING TOOL 1 */
#searchPanel > span#clearSearchText {
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);

  width: 35px;
  height: 35px;
  background-color: transparent;
  color: lightgray;
  border-radius: 50%;
  border: 1px solid lightgray;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s linear, color 0.3s linear;
}
#searchPanel > span#clearSearchText:hover {
  /* color: #005170; rgba(0, 81, 112, 0.8) */
  color: #0162c8;
  border: 1px solid #0162c8;
}
/* SEARCHING TOOL 2 */
#searchPanel > span#bodySearchToggler {
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);

  width: 35px;
  height: 35px;
  background-color: transparent;
  color: lightgray;
  border-radius: 50%;
  border: 1px solid lightgray;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s linear, color 0.3s linear;
}
#searchPanel > span#bodySearchToggler:hover {
  color: #0162c8;
  border: 1px solid #0162c8;
}

/* GLOBAL THEMING */

/* 1. LIGHT: by default */
body.light #searchPanel > input#searchText {
  border: 2px solid lightgray;
}
body.light #searchPanel > input#searchText {
  color: #0162c8;
  caret-color: #0162c8;
}
body.light #searchPanel > input#searchText::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(66, 104, 178, 0.5);
}
body.light #searchPanel > input#searchText::-moz-placeholder {
  /* Firefox 19+ */
  color: #4267b2;
}
body.light #searchPanel > input#searchText:-ms-input-placeholder {
  /* IE 10+ */
  color: #4267b2;
}
body.light #searchPanel > input#searchText:-moz-placeholder {
  /* Firefox 18- */
  color: #4267b2;
}
body.light #searchPanel > input#searchText:focus {
  border: 2px solid #0162c8;
}
/* SEARCHING TOOL 1 */
body.light #searchPanel > span#clearSearchText {
  color: lightgray;
  border: 1px solid lightgray;
}
body.light #searchPanel > span#clearSearchText:hover {
  /* color: #005170; rgba(0, 81, 112, 0.8) */
  color: #0162c8;
  border: 1px solid #0162c8;
}
/* SEARCHING TOOL 2 */
body.light #searchPanel > span#bodySearchToggler {
  color: lightgray;
  border: 1px solid lightgray;
}
body.light #searchPanel > span#bodySearchToggler:hover {
  color: #0162c8;
  border: 1px solid #0162c8;
}

/* 2. GRAY */

#searchPanel > input#searchText {
  border: 2px solid #fff;
}
body.gray #searchPanel > input#searchText {
  color: #683434;
  caret-color: #683434;
}
body.gray #searchPanel > input#searchText::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  /* color: rgba(112, 128, 144, 0.5); */
  color: rgba(104, 52, 52, 0.5);
}
body.gray #searchPanel > input#searchText::-moz-placeholder {
  /* Firefox 19+ */
  /* color: rgba(112, 128, 144, 0.5); */
  color: rgba(104, 52, 52, 0.5);
}
body.gray #searchPanel > input#searchText:-ms-input-placeholder {
  /* IE 10+ */
  /* color: rgba(112, 128, 144, 0.5); */
  color: rgba(104, 52, 52, 0.5);
}
body.gray #searchPanel > input#searchText:-moz-placeholder {
  /* Firefox 18- */
  /* color: rgba(112, 128, 144, 0.5); */
  color: rgba(104, 52, 52, 0.5);
}
body.gray #searchPanel > input#searchText:focus {
  border: 2px solid #708090;
}
/* SEARCHING TOOL 1 */
body.gray #searchPanel > span#clearSearchText {
  color: #fff;
  border: 1px solid #fff;
}
body.gray #searchPanel > span#clearSearchText:hover {
  color: #708090;
  border: 1px solid #708090;
}
/* SEARCHING TOOL 2 */
body.gray #searchPanel > span#bodySearchToggler {
  color: #fff;
  border: 1px solid #fff;
}
body.gray #searchPanel > span#bodySearchToggler:hover {
  /* color: #683434;
  border: 1px solid #683434; */
  color: #708090;
  border: 1px solid #708090;
}

/* 3. DARK */

body.dark #searchPanel > input#searchText {
  color: #fff;
  caret-color: #fff;
}
body.dark #searchPanel > input#searchText::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
}
body.dark #searchPanel > input#searchText::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
body.dark #searchPanel > input#searchText:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}
body.dark #searchPanel > input#searchText:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}
body.dark #searchPanel > input#searchText:focus {
  border: 2px solid #fff;
}
/* SEARCHING TOOL 1 */
body.dark #searchPanel > span#clearSearchText {
  color: #fff;
  border: 1px solid #fff;
}
body.dark #searchPanel > span#clearSearchText:hover {
  /* color: #005170; rgba(0, 81, 112, 0.8) */
  color: #fff;
  border: 1px solid #fff;
}
/* SEARCHING TOOL 2 */
body.dark #searchPanel > span#bodySearchToggler {
  color: #fff;
  border: 1px solid #fff;
}
body.dark #searchPanel > span#bodySearchToggler:hover {
  color: #fff;
  border: 1px solid #fff;
}
