.tiles-grid-wrapper {
  font-family: Montserrat;

  display: grid;
  grid-gap: 1px;
}
@media(max-width: 767px) {
  .tiles-grid-wrapper {
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
  }
  .tiles-external-wrapper--desktop-arrow {
    display: none;
  }
}
@media(min-width: 768px) {
  .tiles-external-wrapper {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  .tiles-grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
  }
  /* ARROWS */
  .tiles-external-wrapper--desktop-arrow {
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
    transition: .15s ease-out;
  }
  .tiles-external-wrapper--desktop-arrow:hover {
    cursor: pointer;
  }
  .tiles-external-wrapper--desktop-arrow--next {
    position: absolute;
    z-index: 2;

    border: 1px solid #fff;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
  }
  .tiles-external-wrapper--desktop-arrow--prev {
    position: absolute;
    z-index: 2;

    border: 1px solid #fff;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .tiles-grid-item:nth-of-type(5n),
  .tiles-grid-item:nth-of-type(6n) {
    grid-column: span 2;
  }
  /*
  .tiles-grid-item:nth-of-type(5n) {
    grid-row: span 2;
  } */
}
.tiles-grid-item:nth-child(1) { border-top-left-radius: 20px; }
.tiles-grid-item:last-child { border-bottom-right-radius: 20px; }
.tiles-grid-item {
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay,normal;

  /* backgroundImage: `url(${bgSrc})`, */
  background-size: cover;
  background-position: center;
  padding: 20px;
}
@media(max-width: 767px) {

}
@media(min-width: 768px) {
  .tiles-grid-item {
    padding: 40px;
  }
}
